/*header*/
#header{
    padding-left: 20px;
    overflow: hidden;
    width: 1200px; 
    margin: 0 auto;
    height: 80px;
    text-align: center;
    font-size:28px;
    line-height: 80px;
    background-color: #f01400;
}
#header .photo{
    float:left;
}
#header img{
    border-radius: 50%;
    left:left;
}
#header .title{
    float: left;
} 
#header audio{
    background-color:#e2ce89;
    filter:alpha(opacity=50);
    -moz-opacity:0.2;
    -khtml-opacity: 0.2;
    opacity: 0.2; 
}
h2{
    text-align: center;
    color: #fff;
}
/*message*/
#message{
    width: 1200px;
    height:300px;
    margin:20px auto;
    padding:30px 0;
    background-color: #fff0ec;
}
#message .base{
    float: left;
    width: 224px;
    height: 224px;
    border:3px dotted #fe6b40;
    padding:20px 10px;
    margin-left:110px;
    cursor: pointer;
    position: relative; 
}
#message .base:hover{
    -webkit-box-shadow:0px 0px 15px #cecece; 
    -moz-box-shadow:0px 0px 15px #cecece; 
    box-shadow:0px 0px 15px #cecece;
}
#message .base i{
    border-width: 7px;
    border-top-color:#fff0ec;
    border-right-color:#fff0ec;
    border-bottom-color:#fff0ec;
    display: inline-block;
    width: 0px;
    height: 0px;
    border-style: solid;
}
#message ul{
   margin-top:20px; 
}
#message li{
    margin-top:13px;
    font-size: 14px;
}
/*myself*/
#myself{
    width:1200px;
    height:700px;
    margin: 10px auto;
    border:15px solid transparent;
    -webkit-border-image:url(face.png) 30 30 round; /* Safari 5 */
    -moz-border-image:url(face.png) 30 30 round; /* Opera */
    border-image:url(face.png) 30 30 round;
    overflow: hidden;

}
#myself .title{
    width: 500px;
    height:80px;
    border-radius:50%;
    background-color: #4fce22;
    text-align: center;
    line-height: 80px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
#myself .appraise{
    width:570px;
    height:30px;
    line-height:30px;
    border:1px dotted #4fce22;
    margin-top:8px; 
    cursor: pointer;
}
#myself .appraise:hover,#myself .appraises:hover{
    background-color:#ffad96;
}
#myself .appraises{
     width:570px;
    height:250px;
    line-height:36px;
    border:1px dotted #4fce22;
    margin-top:8px;
    cursor: pointer; 
}
#myself .left{
    float: left;
}
#myself .right{
    float: right;
}
#myself .talk{
    padding:20px;
    width:570px;
    height:200px;
    border:1px dotted #4fce22;
    line-height:30px;
    margin-top:8px;
    cursor: pointer;
}
#myself .talk:hover{
    background-color: #ffad96;
}
/*works*/
#works{
    width: 1200px;
    height:350px; 
    margin:20px auto;
}
.works_top{
    width: 1200px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.works_top ul{
    background-color: #fe6b40;
    background: -ms-linear-gradient(left, #e2ce89, red);/* IE 10 */  
    background:-moz-linear-gradient(left,#e2ce89,  red);/*火狐*/   
    background:-webkit-gradient(linear, 0% 100%, 0% 0%,from(#e2ce89), to(red));/*谷歌*/   
    background: -webkit-gradient(linear, 0% 100%, 0% 0%,from(#e2ce89), to(red));/* Safari 4-5, Chrome 1-9*/  
    background: -webkit-linear-gradient(left, #e2ce89,red);/*Safari5.1 Chrome 10+*/  
    background: -o-linear-gradient(left, #e2ce89,red);/*Opera*/
    border-radius:50%;
}
.works_top li{
    display: inline;
    cursor: pointer;
    margin-left: 15px;
    font-weight: bold;
    color:#fff;
    font-family: "宋体";
}
.works_top li:hover{
    box-shadow:0px 0px 15px #cecece;
}
.null{
    border-style:dotted dotted solid;
    border-width:20px;
    border-color:transparent transparent #a6a6a6; 
    height: 0px;
    width: 0px;
    position: relative;
    left:470px;
    top:20px;
}
.null2{
    border-style:dotted dotted solid;
    border-width:20px;
    border-color:transparent transparent #a6a6a6; 
    height: 0px;
    width: 0px;
    position: relative;
    left:600px;
    top:20px;
    display: none;
}
/*works_content*/
.works_content{
    border:1px solid #a6a6a6;
    padding-top: 20px;
    overflow-y: scroll;
    width:1000px;
    height:200px;
    background-color: #fff;
    margin:20px auto;
}
.works_content img{
  width: 130px;
  height: 154px;
}
#code{
    display: none;
}
#code img{
    width: 130px;
    height:130px;
}
/*production*/
#production{
    width:1000px;
    height:420px;
    margin:0 auto;
    position:relative;
    background-color:#fff0ec;
}
#production_loop{
    position:relative;
    z-index: 2;
}
#production_imgs img{
    position:absolute;
    left:400px;
    width:600px;
    height:420px;
}
#production_pages{
    position:absolute;
    z-index:3;
    left:630px;
    top:400px;
}
#production_pages li{
    float:left;
    border-radius:50%;
    width: 10px;
    height: 10px;
    margin-right:10px;
    background-color: #7b7b7c;
    cursor:pointer;
}
#production_pages .selected{
    background: #fff;
}
#production_finger{
    position:absolute;
    text-align: center;
    z-index:3;
    display:none;
    cursor: pointer;
}
#production:hover #production_finger{
    display: block;
}
#production_finger #left_finger,#production_finger #right_finger{
    background-color: #000;
    filter:alpha(opacity=50); 
    -moz-opacity:0.5;  
    -khtml-opacity: 0.5;  
    opacity: 0.5;  
    width:40px;
    height: 80px;
    line-height: 80px;
}
#production_finger #left_finger{
    position:absolute;
    left:400px;
    top:190px;
}
#production_finger #right_finger{
    position: absolute;
    left:960px;
    top:190px;
}

#left_finger i,#right_finger i{
    font-size:30px;
    color:#fff;
}
#production_content{
    overflow: hidden;
    width: 550px;
    height:420px;
    margin:20px 50px;
}
#production_list{
    position: absolute;
    z-index:2;
    background-color:#fff0ec; 
    filter:alpha(opacity=50); 
    -moz-opacity:0.5;  
    -khtml-opacity: 0.5;  
    opacity: 0.5;  
}
#production_list li{
    cursor: pointer;
    width:210px;
    padding: 23px 0px 20px 15px;
    border-bottom: 0.5px solid #dedede;
    font-size: 14px;
}

#production_list a{
    font-size: 13px;  
}
#production_list a:hover{
    color: #f01414 !important;
}
 #production_message{
    position: absolute;
    left:290px;
    width:400px;
}
#production_message .production_message{
    width: 100%;
    height:420px;
    display:none;
    position:absolute;
    z-index: 7;
    background-image: url(bg.jpg) 
}
#production_message .production_message a{
    display: block;
    width:350px;
    height:100px;
    line-height:100px;
    text-align: center;
    font-size: 14px;
    font-size:20px;
    color:black;
}
#production_message .production_message a:hover{
    color:red;
}

#production_message .selected{
    display: block;
    background-color: #fff;
}
#production_list li:hover{
    background-color:#fe6b40;
}
#display{
    width:100px;
    height:300px;
    border-radius: 50%;
    background-color:#fff0ec;
    text-align: center;
    line-height:300px;
    position:absolute;
    top:1600px;
    left: 30px;
    font-weight: bold;
}
#null3{
    width:100px;
    height: 50px;
    background-color: #fff0ec;
    position: absolute;
    top: 1730px;
    left:125px;
}
#experience{
    width: 1200px;
    height: 150px;
    margin-top: 20px;
    margin-left:80px;
    border:3px dotted #4fce22;
}
